/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

/* Prevent body scroll on mobile */
html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Touch-friendly interactions */
button, a {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}